/* Variables */
:root {
	--radius : 10px;
	--colorPrimary: #EAEDED;
	--colorSecundary: #D7D7D7;
	--colorHover: #83C3FE55;
	--proportion: 50px;
}

/* Quita las flehas de los inputs type number */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


/* Contenedor principal del formulario */
.form {
	width: 90%;
	max-width: 400px;
	margin: 50px auto;
	padding: 20px;
	border-radius: var(--radius);
	font-family: tahoma, sans-serif;
	font-size: 1.2em;
	box-shadow: 0 0 10px #0005;
	display: grid;
	grid-template-rows: repeat(3, var(--proportion));
	gap: 15px;
}

/* Contenedores dentro del formulario */
.form__container {
	border-radius: var(--radius);
	background: var(--colorPrimary);
	display: flex;
}


/* campos del formulario*/
.form__input {
	border: none;
	outline: none;
	border-radius: var(--radius);
	background: var(--colorPrimary);
	transition: background .1s;
	padding: 0 15px;
	flex-grow: 1;
}

.form__btnDelete {
	width: var(--proportion);
	font-size: 30px;
	transform: rotate(45deg);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: transform .2s, color .2s;
	color: #555;
	user-select: none;
}

.form__btnDelete:hover { 
	transform: rotate(45deg) scale(1.2);
	color: #333;
}

#percIva {
	width: var(--proportion);
	text-align: center;
	flex-grow: 0;
}

.form__symbol { 
	line-height: var(--proportion);
	margin-right: 10px;
}

.form__input:hover,
.form__input:focus { background: var(--colorHover); }

.form__amountIva,
.form__result {
	padding: 0 15px;
	background: var(--colorSecundary);
	border-radius: var(--radius);
	line-height: var(--proportion);
	flex-grow: 1;
}

.form__ckeckbox {
	margin: 0 20px;
	width: 18px;
}